/*------------ reset styles ==========*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body{
    height:800px;
    width:1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#2a3447;
}